
/*Body*/


p {
  font-size: 1.2em;
}

h1 {
  font-weight: bold;
  font-size:24px;
}

a {
  color: #F02229;
}

/*Fonts*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
}

h3 {
    margin:0px;
}

p, a {
  font-family: 'Open Sans', sans-serif; 
}

/*Navigation*/


.nav > li > a {
  color: #414142;
}

.navbar-default {
	background-color: #fff;
}


.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: underline;
  background-color: #ffffff;
}

.navbar-brand {
	padding: 5px;
}

.navbar-brand img {
	height: 40px;
}

#home-navbar {
  z-index: 9999;
}

#home-navbar.affix {
    position: fixed;
    top: 0;
    width: 100%
}

#home-navbar > .navbar-inner {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

.btn-default {
  border: 0;
}

.navbar-header .social-links {
  float: left;
  margin: 5px 0 0 50px;
  padding: 0;
  list-style: none;
}

.navbar-header .social-links li {
  float: left;
  list-style: none;
}

.navbar-header .social-links li a {
  display: block;
  margin: 0 5px 0 0;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  background-image: url('../img/social-icons.png');
}

.navbar-header .social-links .facebook a {
  background-position: -40px 0px;
}

.navbar-header .social-links .twitter a {
  background-position: 0px 0px;
}


.navbar-header .social-links .twitter a {
  background-position: 40px 0px;
}

/*Cover Section*/

#cover {
	background:url('../img/1_cover.png') no-repeat;
	background-size: 100%;
}

#cover img {
	padding-bottom: 20px;
	width: 250px;
}

@media (max-width:500px){
	#cover img {
		width: 150px;
	}
}

#big-tagline {
  font-size: 1em;
  color: #0d1d42;
  font-weight: bold;
  /*padding-top: 10%;*/
}

@media (min-width: 500px) { 

  #big-tagline {
    font-size: 2.5em;

  }
}

@media only screen and (min-width: 750px) and (max-width: 950px) {
  #big-tagline {
    margin-top: 15%;
  }
}


@media only screen and (min-width: 950px) {
  #big-tagline {
    margin-top: 17%;
  }
}

#small-tagline {
  font-size: 1em;
  color: #ec1c24;
}

@media (min-width: 500px) { 

  #small-tagline{
    font-size: 2em;
    padding: 0px;
  }
}

.btn-xlarge {
  margin: 15px;
  padding: 20px 50px;
  font-size: 1.2em;
  line-height: 1.33;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
    }

.btn-signup { 
  color: #fff; 
  background-color: #49bab7; 
} 
 
.btn-yellow:hover, 
.btn-yellow:focus, 
.btn-yellow:active, 
.btn-yellow.active, 
.open .dropdown-toggle.btn-yellow { 
  color: #000; 
  background-color: #E0BD0B; 
  display: inline-block;
} 

.btn-learn { 
  color: #FFFFFF; 
  background-color: #000000; 

} 

.btn-learn:hover, 
.btn-learn:focus, 
.btn-learn:active, 
.btn-learn.active, 
.open .dropdown-toggle.btn-learn { 
  color: #FFFFFF; 
  background-color: #383737; 
} 



/*Home content*/

#about {
  background:url('../img/2_bckgrnd.png') no-repeat;
  background-size: cover;
  color: #fff;
  height: 750px;
}

#about h1, 
#about h3 {
  margin-bottom: 30px; 
}

#about .row {
	padding: 5% 0%
}

#about h2 {
  font-weight: bold;
}

#program {
  height: 100%;
  padding: 5% 0%;
}

#program h3 {
	padding: 5px;
}

#sponsors {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 5% 0%;
}


#sponsors li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

#sponsors .gold li img {
  width: 340px;
  height: auto;
}

#sponsors .silver li img {
  width: 250px;
  height: auto;
}

#sponsors .bronze li img {
  width: 200px;
  height: auto;
}

#facilitator {
  background-color: #229955;
  color: #fff;
  padding: 5% 0%;
}

#collaborators {
  background-color: #0e467d;
  color: #fff;
  padding: 5% 0%;
}

#judges {
  background-color: #1C2326;
  color: #fff;
  padding: 5% 0%;
}

.collaborator img {
	height: 150px
}

#collaborators p, 
#facilitator p, 
#judges p {
	display: table-cell;
	vertical-align: middle;
	height: 150px;
}


#collaborators .row, 
#facilitator .row,
#judges .row {
	padding: 3%;
}

#organisers {
  padding: 5% 0%;
}

.organiser {
	padding: 3%;
	display: inline-block;
}

#organisers .row {
  padding: 3% 0%;
}

.organiser img {
	height: 150px;
}

.section-redgirl {
  background:url('../img/4_bckgrnd.png') no-repeat;
  background-size: cover;
  background-position: 50% 0;
  color: #fff;
  height: 870px;
  padding: 20% 0%;
}

.section-sittingman {
  background:url('../img/sittingman.jpg') no-repeat;
  background-size: cover;
  color: #fff;
  height: 100%;
  padding: 20% 0%;

}

.box {
  background-color: #111;
  opacity: 0.8;
  height: 100%;
  padding: 5%;
}

.section-board {
  background:url('../img/board.jpg') no-repeat;
  background-size: cover;
  color: #fff;
  height: 100%;
  padding: 20% 0%;

}

.credits {
  font-size: 0.8em;
  background-color: #000;
  color: #f9f9f9;
  padding: 10px 0px 5px 0px;
}

caption {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 20px;
}


/*Footer*/

.footer {
	background-color: #1C2326;
	padding: 50px;
}

.footer p, .footer h1 {
	color:#fff;
}

.social-icon {
	display: inline-block;
	padding: 3%;
}















