{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Startup Education - Santo Domingo, RD.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="cover">
      <div class="container">
        <div class="row">
            <div class="col-sm-12">
              <img src="{% static 'img/logo2.png' %}">
            </div>
            <div class="col-sm-12 text-center">
              <h1 id="big-tagline">Transforma la educación en 54 horas</h1>
              <p id="small-tagline">17, 18 y 19 de Octubre. Biblioteca Nacional.</p>
            </div>
        </div>
          <div class="row">
            <div class="col-sm-12 text-center ">
              <p>
                <a href="http://www.eventbrite.com/e/startup-weekend-edu-santo-domingo-2014-tickets-12963136089" class="btn btn-xlarge btn-yellow">Regístrate</a>
                <a class="btn btn-xlarge btn-learn" id="more-button">Más información</a>
              </p>
            </div>
          </div>
        </div><!-- /cover -->
      </div><!-- /container -->
    </div><!-- /row -->

    <div id="nav-wrapper">
      <div class="navbar navbar-default" id="home-navbar" role="navigation">
        <div class="navbar-inner">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}"></a>
            </div><!-- /navbar-header -->
            <div class="collapse navbar-collapse" role="menu">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/" class="btn btn-default">Inicio</a></li>
                <li><a id="acerca" class="btn btn-default">Acerca</a></li>
                <li><a id="programa" class="btn btn-default">Programa</a></li>
                <li><a id="patrocinadores" class="btn btn-default">Patrocinadores</a></li>
                <li><a id="colaboradores" class="btn btn-default">Colaboradores</a></li>
                <li><button type="button" class="btn btn-yellow navbar-btn" onclick="location.href = 'http://www.eventbrite.com/e/startup-weekend-edu-santo-domingo-2014-tickets-12963136089'";>Regístrate</button></li>
              </ul>
            </div><!-- /navbar-collapse -->
          </div><!-- /container -->
        </div><!-- navbar-inner -->
      </div><!-- home-navbar -->
    </div><!-- nav-wrapper -->

    <div id="about">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 text-center col-sm-offset-2">
          <h1>Anímate a hacer la diferencia</h1>
          <h3>Participa en el 2do Startup Weekend Education de LATAM</h3>
            <div class="embed-responsive embed-responsive-16by9">
             <iframe src="//www.youtube.com/embed/2vgBkfn0jqs?rel=0hl=es cc_lang_pref=escc_load_policy=1" frameborder="0" allowfullscreen class="embed-responsive-item"></iframe>
            </div>   
          </div>
        </div>
      </div><!-- /container -->
    </div><!-- /about -->

    <div class="section-redgirl">  
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="box">
              <h1 class="text-center">La educación es necesaria</h1>
                <p class="text-center">Sea que quieras mas oportunidades de trabajo, crear una compañía o simplemente un mejor futuro para tus hijos, la educación es la clave.
                </p>
            </div><!-- /box -->
          </div><!-- /col -->
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- /section-redboy -->

    <div class="section-sittingman">  
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6 col-xs-12">
            <div class="box">
              <h1 class="text-center">La educación puede ser mejor</h1>
               <p class="text-center">Aun usamos tecnología de hace mas de 100 años para enseñar, lo cual es muy diferente para cualquier otra industria. Si has encontrado un problema educativo que puede resolverse con tecnología, Startup Weekend Education es para ti.</p>
            </div><!-- /box -->
          </div><!-- col-sm-6 -->
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- /section-redboy -->

    <div class="section-board">  
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 col-xs-12">
          <div class="box">
              <h1 class="text-center">Tu puedes mejorar la Educación</h1>
               <p class="text-center">En Startup Education creamos emprendimientos educativos con personas de diferentes trasfondos. Así que si eres estudiante, profesor, desarrollador, diseñador, mercadólogo o cualquier otra profesión eres más que bienvenido. </p>
               </div><!-- /box -->
          </div><!-- col-sm-6 -->
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- /section-redboy -->



    <div id="program">
      <div class="container">
        <div class="row">
          <h1 class="text-center">Programa</h1>
          <div class="col-sm-4">
            <table class="table table-hover">
            <h3>Viernes 17 de Octubre</h3>
              <tr>
                <td>6:00 pm</td>
                <td>Abre el registro de los participantes</td> 
              </tr>
              <tr>
                <td>7:00 pm</td>
                <td>Cena & networking</td> 
              </tr>
              <tr>
                <td>7:20 pm</td>
                <td>Bienvenida & Presentadores</td> 
              </tr>
              <tr>
                <td>7:30 pm</td>
                <td>Pitches</td> 
              </tr>
              <tr>
                <td>9:00 pm</td>
                <td>Votación</td> 
              </tr>
              <tr>
                <td>9:15 pm</td>
                <td>Formación de Equipos</td> 
              </tr>
              <tr>
                <td>10:00 pm</td>
                <td>Inicio del Trabajo</td> 
              </tr>
            </table>
          </div>
          <div class="col-sm-4">
            <table class="table table-hover">
            <h3>Sábado 18 de Octubre</h3>
              <tr>
                <td>9:00 am</td>
                <td>Desayuno</td> 
              </tr>
              <tr>
                <td>9:30 am</td>
                <td>Inicio del Trabajo</td> 
              </tr>
              <tr>
                <td>12:00 pm</td>
                <td>Almuerzo</td> 
              </tr>
              <tr>
                <td>1:00 pm</td>
                <td>Check-In</td> 
              </tr>
              <tr>
                <td>2:00 pm</td>
                <td>Reunión con los Mentores</td> 
              </tr>
              <tr>
                <td>6:30 pm</td>
                <td>Cena</td> 
              </tr>
              <tr>
                <td>7:30 pm</td>
                <td>Check-In</td> 
              </tr>
              <tr>
                <td>10:00 pm</td>
                <td>Cierre de la Jornada de Trabajo</td> 
              </tr>
            </table>
          </div>
          <div class="col-sm-4">
            <table class="table table-hover">
            <h3>Domingo 19 de Octubre</h3>
              <tr>
                <td>9:00 am</td>
                <td>Desayuno</td> 
              </tr>
              <tr>
                <td>10:00 am</td>
                <td>Check-In</td> 
              </tr>
              <tr>
                <td>12:00 pm</td>
                <td>Almuerzo</td> 
              </tr>
              <tr>
                <td>12:30 pm</td>
                <td>Reunión con los Mentores</td> 
              </tr>
              <tr>
                <td>3:00 pm</td>
                <td>Preparación de la Presentación</td> 
              </tr>
              <tr>
                <td>4:00 pm</td>
                <td>Cena</td> 
              </tr>
              <tr>
                <td>5:00 pm</td>
                <td>Presentaciones Finales</td> 
              </tr>
              <tr>
                <td>7:30 pm</td>
                <td>Evaluación y Premiación</td> 
              </tr>
              <tr>
                <td>8:30 pm</td>
                <td>Cierre del Evento</td> 
              </tr>
              <tr>
                <td>9:00 pm</td>
                <td>After Party</td> 
              </tr>
            </table>
          </div>
        </div><!-- /row --> 
      </div><!-- container -->
    </div> <!-- /programa -->

    <div id="sponsors">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="text-center">Patrocinadores</h1>
            <!-- <h2>Diamante</h2> -->
            <!-- <h2>Platino</h2> -->

            <h2>Oro</h2>
              <ul>
                <li><img src="{% static 'img/sponsors/stance.png' %}"></li>
                <li><img src="{% static 'img/sponsors/mic.png' %}"></li>
                <li><img src="{% static 'img/sponsors/cafe.jpg' %}"></li>
              </ul>
            <h2>Plata</h2>
              <ul>
                <li><img src="{% static 'img/sponsors/intec.png' %}"></li>
                <li><img src="{% static 'img/sponsors/edify.png' %}"></li>
              </ul>
            <h2>Bronze</h2>
              <ul>
                <li><img src="{% static 'img/sponsors/coworking.png' %}"></li>
                <li><img src="{% static 'img/sponsors/berry.png' %}"></li>
              </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="facilitator">
      <div class="container text-center">
        <h1>Facilitador</h1>
          <div class="row">
            <div class="collaborator col-sm-4 text-center">
              <img src="{% static 'img/luis.jpg' %}" class="img-circle">
              <h4>Luis Miguel Almanza</h4>
            </div>
            <div class="col-sm-8">
              <p>Doer of #entrepreneurship #business & #IT. Director de Emprendimiento en el Tecnológico de Monterrey. Co-fundador de <a href="http://www.orionstartups.com">Orion Startups</a>.</p>
            </div>
          </div><!-- /row -->
        </div><!-- /container -->
      </div><!-- /collaborators -->



    <div id="collaborators">
      <div class="container text-center">
        <h1>Mentores</h1>
          <div class="row">
            <div class="collaborator col-sm-4 text-center">
              <img src="{% static 'img/coaches/alejandro.jpg' %}" class="img-circle">
              <h4>Alejandro Garcia</h4>
            </div>
            <div class="col-sm-8">
              <p>Alejandro fue un ingeniero de software en Google durante 2 años, y es el fundador de Multiplicadores Matemáticos, un proyecto de educación cuyo objetivo es mejorar la educación matemática. Anteriormente, trabajó durante 5 años como ingeniero de software en Microsoft, empoderando a millones de clientes de Hotmail/Outlook.com en todo el mundo para acceder a sus mensajes de correo electrónico, calendario, contactos y tareas en sus dispositivos móviles. Alejandro recientemente completó su MBA en la Universidad de Santa Clara, donde se concentró en la mejora de sus habilidades de liderazgo, técnicas de negocios con el propósito de usarlos para capacitar a otros para alcanzar su máximo potencial, para ayudar en el campo de la educación, y promover la justicia social.</p>
            </div>
          </div><!-- /row --> 
        <div class="row">
            <div class="collaborator col-sm-4 text-center">
              <img src="{% static 'img/coaches/checo.jpg' %}" class="img-circle">
              <h4>José Checo</h4>
            </div>
            <div class="col-sm-8">
              <p>Lic. en mercadeo, ha realizado cursos en Taiwán sobre el modelo estratégico de competitividad de ese país y sobre la gestión administrativa de la calidad como herramienta competitiva con el Instituto W. E. Deming en los Estados Unidos. También ha realizado estudios relacionados con la Administración de la Exportación en INCAE, sobre Tecnología Textil en INTEC y Emprendedurismo en el MIT y tiene una maestría en educación de la universidad NOVA de la Florida.Actualmente es el Gerente Sr. de Asociatividad en el Centro de Desarrollo y Competitividad Industrial – PROINDUSTRIA. Además es profesor de la PUCMM y UNIBE en temas relacionados al emprendimiento.</p>
            </div>
          </div><!-- /row -->
          <div class="row">
            <div class="collaborator col-sm-4 text-center">
              <img src="{% static 'img/coaches/noe.jpg' %}" class="img-circle">
              <h4>Noe Branagan</h4>
            </div>
            <div class="col-sm-8">
              <p>Ingeniero de software especializado en programación orientada a objetos, con experiencia en el ciclo de vida del proceso de desarrollo de software (requerimientos, definición, diseño, implementación, prueba, deployment y mantenimiento), desarrollo móvil, desarrollo de componentes, investigación y desarrollo.</p>
            </div>
          </div><!-- /row -->
          <div class="row">
            <div class="collaborator col-sm-4 text-center">
              <img src="{% static 'img/coaches/marco.jpeg' %}" class="img-circle">
              <h4>Marco Marmolejos</h4>
            </div>
            <div class="col-sm-8">
              <p>Game Developer con experiencia en plataformas móviles a través de AIR y Unity3D. Fundador de Entytec, creadores del juego educativo dominicano Yara-ri. Actual consultor de StoryTime Studios, creadores de la aplicación de animación Skit. Estudió Ingeniería Electrónica y Telecomunicaciones en INTEC. Tuvo la oportunidad de aprender los principios del Game Design por medio de Nick Fortugno de la escuela de Parson School of Design.</p>
            </div>
          </div><!-- /row -->          
          <div class="row">
            <div class="collaborator col-sm-4 text-center">
              <img src="{% static 'img/coaches/infante.jpg' %}" class="img-circle">
              <h4>José Miguel Infante</h4>
            </div>
            <div class="col-sm-8">
              <p>Mercadólogo, emprendedor, profesor y consultor de proyectos en el área de negocios. Apasionado por el fomento del emprendimiento en RD. Organizador y facilitador de Startup Weekend Santiago. Fundador de Chispa Emprendedora.</p>
            </div>
          </div><!-- /row --> 
          <div class="row">
            <div class="collaborator col-sm-4 text-center">
              <img src="{% static 'img/coaches/smitha.jpg' %}" class="img-circle">
              <h4>Smita Donthamsetty</h4>
            </div>
            <div class="col-sm-8">
              <p>Especialista en microfinanzas y educación de adultos, ha dedicado los últimos 15 años colaborando con varias ONGs en la lucha contra la pobreza.  Ha escrito y revisado currículos en la educación financiera, microcrédito, salud e higiene que han sido utilizados por miles de personas alrededor del mundo.  Smita es licenciada en sociología de la Universidad Davidson y tiene una maestria en Administración Internacional e Intercultural de la School for International Training de los Estados Unidos.</p>
            </div>
          </div><!-- /row -->    
          <div class="row">
            <div class="collaborator col-sm-4 text-center">
              <img src="{% static 'img/coaches/andrea.jpg' %}" class="img-circle">
              <h4>Andrea Calvo</h4>
            </div>
            <div class="col-sm-8">
              <p>UX/UI Designer. Chief Creative Officer Berry Whale. Licenciada en diseno gráfico y comunicación audiovisual en Universidad CAECE, Mar del Plata en Argentina. Especializada en diseno de identidad corporativa, diseno de interfases para plataformas de comercio electrónico y apps en iOS y Android Fotógrafa profesional. Desde 2009 es gerente creativa de Berry Whale.</p>
            </div>
          </div><!-- /row --> 
          <div class="row">
            <div class="collaborator col-sm-4 text-center">
              <img src="{% static 'img/coaches/victor.jpg' %}" class="img-circle">
              <h4>Victor Pizarro</h4>
            </div>
            <div class="col-sm-8">
              <p>Especializado en el desarrollo de modelo de negocios sobre internet, marketing  y comunicación empresarial. Proactivo, apasionado, con fuertes habilidades para el desarrollo de relaciones interpersonales, liderazgo y gestión. Fundador y CEO de Berry Whale y socio-directivo de Acento, medio de comunicación online de la República Dominicana.</p>
            </div>
          </div><!-- /row --> 
          <div class="row">
            <div class="collaborator col-sm-4 text-center">
              <img src="{% static 'img/coaches/emil.jpg' %}" class="img-circle">
              <h4>Emil Chireno</h4>
            </div>
            <div class="col-sm-8">
              <p>Abogado y comunicador con estudios de maestría en relaciones internacionales y economía. Actualmente es Director Ejecutivo de la Asociación Dominicana de Naciones Unidas y socio fundador de la oficina de KCNP Abogados Consultores.  Trabajó junto a la Organización Mundial de la Salud, la Organización Mundial del Trabajo y fue investigador del Carnegie Council for Ethics in International Affairs. Entre sus últimas publicaciones cita: América Latina Post Chávez (2014);  la condicionalidad y el FMI (2013);  apuntes sobre la tensa relación entre justicia constitucional y democracia (2011).</p>
            </div>
          </div><!-- /row --> 
          <div class="row">
            <div class="collaborator col-sm-4 text-center">
              <img src="{% static 'img/coaches/fernando.jpeg' %}" class="img-circle">
              <h4>Fernando Rodríguez</h4>
            </div>
            <div class="col-sm-8">
              <p>Es especialista en el diseño y desarrollo estratégico de comunicación a través de los diversos medioses reconocido como uno de los mejores diseñadores gráficos y pionero en el campo de los medios digitales en República Dominicana. En 1999 crea la compañía de multimedia Canoa Interactiva, junto a sus asociados, donde desarrolla extraordinarios proyectos para las principales compañías del país.  En el 2011 formaliza su sueño de crear una empresa única, Mente Elástica™, donde pone de manifiesto, junto a un grupo de talentosos e innovadores profesionales, su visión sobre la importancia y potencial que representan las nuevas tecnologías para el desarrollo de estrategias de comunicación efectivas y transcendentales.</p>
            </div>
          </div><!-- /row --> 
          <div class="row">
            <div class="collaborator col-sm-4 text-center">
              <img src="{% static 'img/coaches/maria.png' %}" class="img-circle">
              <h4>María Isabel Tejeda</h4>
            </div>
            <div class="col-sm-8">
              <p>Diseñadora Gráfica. Egresada de Altos de Chavón/La Escuela de Diseño. Es ADOBE EXPERT CERTIFIED (ACE) para PHOTOSHOP, ILLUSTRATOR, INDESIGN Y ACROBAT. Pertenece al grupo de los 250 expertos de ACROBAT, a nivel mundial. Por más de 10 años, estuvo como instructora en Altos de Chavón/ La Escuela de Diseño.Tambien stuvo como coordinadora de la carrera de Diseño Digital, del programa certificado afiliado a Parsons School for Design. Es instructora virtual y presencial, del ITLA en el Departamento de Multimedia. Participa actualmente en el proyecto OPEN COURSE WARE asociado al MIT, Massachusetts Institute of Technology.</p>
            </div>
          </div><!-- /row --> 
          <div class="row">
            <div class="collaborator col-sm-4 text-center">
              <img src="{% static 'img/coaches/camilo.jpg' %}" class="img-circle">
              <h4>Camilo Sanchez</h4>
            </div>
            <div class="col-sm-8">
              <p>Creative Director en Lowe Interamerica.</p>
            </div>
          </div><!-- /row --> 
          <div class="row">
            <div class="collaborator col-sm-4 text-center">
              <img src="{% static 'img/coaches/patricia2.jpg' %}" class="img-circle">
              <h4>Pamela Martínez Achecar</h4>
            </div>
            <div class="col-sm-8">
              <p>Economista. Directora de la Sociedad Dominicana de Debate de la Fundación Global Democracia y Desarrollo. Coordinadora del Debate Juvenil de la Vicepresidencia de la República Dominicana. Entrenadora de la Selección Nacional de Debate.</p>
            </div>
          </div><!-- /row --> 
          </div><!-- /container -->
      </div><!-- /collaborators -->

      <div id="judges">
        <div class="container text-center">         
          <h1>Jueces</h1>
            <div class="row">
              <div class="collaborator col-sm-4 text-center">
                <img src="{% static 'img/judges/darwin.jpg' %}" class="img-circle">
                <h4>Darwin Caraballo</h4>
              </div>
              <div class="col-sm-8">
                <p>Darwin es el actual Director Ejecutivo de la organización EDUCA, Acción Empresarial por la Educación, la cual representa al sector privado en temas de educación. Desde 2008 a la fecha se ha venido desempeñando como asesor de diversos gobiernos de latinoamérica, y prestando servicios como consultor senior del Banco Interamericano de Desarrollo (BID), Naciones Unidas (UN) y Unión Europea en temas de educación.</p>
              </div>
            </div><!-- /row -->
            <div class="row">
              <div class="collaborator col-sm-4 text-center">
                <img src="{% static 'img/organizers/avatar.png' %}" class="img-circle">
                <h4>Timothy Kiefer</h4>
              </div>
              <div class="col-sm-8">
                <p>Timothy tiene más de 25 años trabajando en la Republica Dominicana. En el área de desarrollo comunitario y económico ha dirigido proyectos en instituciones internacionales como el Cuerpo de Paz, Good Neighbors y Hermandad Inc. Actualmente Timothy trabaja en el programa Alerta Joven de la USAID, para reducir el crimen y la violencia con jóvenes en zonas vulnerables de la Región Norte.</p>
              </div>
            </div><!-- /row -->
            <div class="row">
              <div class="collaborator col-sm-4 text-center">
                <img src="{% static 'img/organizers/avatar.png' %}" class="img-circle">
                <h4>Carlos Rodríguez Peña</h4>
              </div>
              <div class="col-sm-8">
                <p>Ph.D. Director de Investigación Científica. MESCYT. Escribio el primer libro sobre la historia de la ciencia de origen dominicano</p>
              </div>
            </div><!-- /row -->
          </div><!-- /container -->
      </div><!-- /collaborators -->

  <div id="organisers">
    <div class="container text-center">
        <div class="row">
          <div class="col-sm-12">
            <h1>Organizadores</h1>
            <p>El Startup Education en Santo Domingo está liderado por líderes voluntarios de la comunidad.</p>

            <div class="organiser">
              <img src="{% static 'img/organizers/leonardo.jpg' %}" class="img-circle">
              <h4>Leonardo Jimenez</h4>
            </div>

            <div class="organiser">
              <img src="{% static 'img/organizers/patricia.jpg' %}" class="img-circle">
              <h4>Patricia Acosta</h4>
            </div>

            <div class="organiser">
              <img src="{% static 'img/organizers/alan.jpg' %}" class="img-circle">
              <h4>Alan Fernandez</h4>
            </div>

            <div class="organiser">
              <img src="{% static 'img/organizers/vivian.jpg' %}" class="img-circle">
              <h4>Vivian Guillen</h4>
            </div>
          </div><!-- col -->
        </div><!-- /row -->

        <div class="row">
          <div class="col-sm-12">
            <h1>Voluntarios</h1>
            <div class="organiser">
              <img src="{% static 'img/organizers/sovieski.jpg' %}" class="img-circle">
              <h4>Sovieski Naut</h4>
            </div>

            <div class="organiser">
              <img src="{% static 'img/organizers/michelle.jpg' %}" class="img-circle">
              <h4>Michelle Guzman</h4>
            </div>

            <div class="organiser">
              <img src="{% static 'img/organizers/jorge.jpg' %}" class="img-circle">
              <h4>Jorge Vargas</h4>
            </div>

            <div class="organiser">
              <img src="{% static 'img/organizers/luz.jpg' %}" class="img-circle">
              <h4>Luz Gonzalez</h4>
            </div>

            <div class="organiser">
              <img src="{% static 'img/organizers/roman.jpg' %}" class="img-circle">
              <h4>Román Perez</h4>
            </div>
          </div><!-- row -->
        </div><!-- col -->
      </div><!-- /container -->
    </div><!-- /organisers -->

    <div class="footer">
      <div class="container">
        <div class="col-sm-4 col-sm-offset-4 text-center">
          <h1>Síguenos</h1>
          <a href="https://www.facebook.com/swedusdq"><i class="fa fa-facebook-square fa-4x fa-inverse social-icon"></i></a>
          <a href="https://twitter.com/startupedudo"><i class="fa fa-twitter-square fa-4x fa-inverse social-icon"></i></a>
          <a href="mailto:info@startupeducation.do"><i class="fa fa-envelope-square fa-4x fa-inverse social-icon"></i></a>
        </div>
      </div>
    </div>


    <div class="credits">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p class="pull-right">Desarrollado por <a href="http://stancedata.com">Stance Data</a></p>
          </div>
        </div>
      </div>
    </div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/app.js' %}"></script>


    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
