{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Startup Weekend Santo Domingo, RD.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="cover">
      <div class="container">
        <div class="row">
            <div class="col-sm-12">
              <img src="{% static 'img/1_logo.png' %}">
            </div>
            <div class="col-sm-12 text-center">
              <h1 id="big-tagline">Inicia tu historia como emprendedor</h1>
              <p id="small-tagline">21, 22 y 23 de Noviembre. </p>
            </div>
        </div>
          <div class="row">
            <div class="col-sm-12 text-center ">
              <p>
                <a href="" class="btn btn-xlarge btn-signup disabled">¡Inscripciones Pronto!</a>
                <a class="btn btn-xlarge btn-learn" id="more-button">Más información</a>
              </p>
            </div>
          </div>
        </div><!-- /container -->
      </div><!-- /cover-->

    <div id="nav-wrapper">
      <div class="navbar navbar-default" id="home-navbar" role="navigation">
        <div class="navbar-inner">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img src="{% static 'img/menu_logo.png' %}">
              </a>
              <a class="navbar-brand" href="https://www.facebook.com/swsantodomingo"><img src="{% static 'img/fb.png' %}"></a>
              <a class="navbar-brand" href="https://twitter.com/swsantodomingo"><img src="{% static 'img/tw.png' %}"></a>
              <a class="navbar-brand" href="https://www.youtube.com/user/startupweekenddo"><img src="{% static 'img/yt.png' %}"></a>
            </div><!-- /navbar-header -->
            <div class="collapse navbar-collapse" role="menu">
              <ul class="nav navbar-nav navbar-right">
                <li><a id="programa" class="btn btn-default">Programa</a></li>
                <li><a id="patrocinadores" class="btn btn-default">Patrocinadores</a></li>
                <li><a id="colaboradores" class="btn btn-default">Colaboradores</a></li>
                <li><button type="button" class="btn btn-subscribe navbar-btn" onclick="location.href = 'http://www.eventbrite.com/e/startup-weekend-edu-santo-domingo-2014-tickets-12963136089';">Inscribete</button></li>
              </ul>
            </div><!-- /navbar-collapse -->
          </div><!-- /container -->
        </div><!-- navbar-inner -->
      </div><!-- home-navbar -->
    </div><!-- nav-wrapper -->

    <div id="about">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 text-center col-sm-offset-2">
          <h1>¿Qué es Startup Weekend?</h1>
          <h2>NO TALK. ALL ACTION.</h2>
            <div class="embed-responsive embed-responsive-16by9">
             <iframe width="560" height="315" src="//www.youtube.com/embed/cPScUWwP6ec" frameborder="0" allowfullscreen></iframe>
            </div>   
          </div>
        </div>
      </div><!-- /container -->
    </div><!-- /about -->

    <div id="since2008">  
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
          </div><!-- /col -->
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- /section-redboy -->

    <div id="program">
      <div class="container">
        <div class="row">
          <h1 class="text-center">Programa</h1>
          <div class="col-sm-4">
            <table class="table table-hover">
            <caption>Viernes 17 de Octubre</caption>
              <tr>
                <td>6:00 pm</td>
                <td>Abre el registro de los participantes</td> 
              </tr>
              <tr>
                <td>7:00 pm</td>
                <td>Cena & networking</td> 
              </tr>
              <tr>
                <td>7:20 pm</td>
                <td>Bienvenida & Presentadores</td> 
              </tr>
              <tr>
                <td>7:30 pm</td>
                <td>Pitches</td> 
              </tr>
              <tr>
                <td>9:00 pm</td>
                <td>Votación</td> 
              </tr>
              <tr>
                <td>9:15 pm</td>
                <td>Formación de Equipos</td> 
              </tr>
              <tr>
                <td>10:00 pm</td>
                <td>Inicio del Trabajo</td> 
              </tr>
            </table>
          </div>
          <div class="col-sm-4">
            <table class="table table-hover">
            <caption>Sábado 18 de Octubre</caption>
              <tr>
                <td>9:00 am</td>
                <td>Desayuno</td> 
              </tr>
              <tr>
                <td>9:30 am</td>
                <td>Inicio del Trabajo</td> 
              </tr>
              <tr>
                <td>12:00 pm</td>
                <td>Almuerzo</td> 
              </tr>
              <tr>
                <td>1:00 pm</td>
                <td>Check-In</td> 
              </tr>
              <tr>
                <td>2:00 pm</td>
                <td>Pitch Practice con los coaches</td> 
              </tr>
              <tr>
                <td>6:30 pm</td>
                <td>Cena</td> 
              </tr>
              <tr>
                <td>7:30 pm</td>
                <td>Check-In</td> 
              </tr>
            </table>
          </div>
          <div class="col-sm-4">
            <table class="table table-hover">
            <caption>Domingo 19 de Octubre</caption>
              <tr>
                <td>9:00 am</td>
                <td>Desayuno</td> 
              </tr>
              <tr>
                <td>10:00 am</td>
                <td>Check-In</td> 
              </tr>
              <tr>
                <td>12:00 pm</td>
                <td>Almuerzo</td> 
              </tr>
              <tr>
                <td>12:30 pm</td>
                <td>Pitch Practice con los coaches</td> 
              </tr>
              <tr>
                <td>3:00 pm</td>
                <td>Preparación de la Presentación</td> 
              </tr>
              <tr>
                <td>4:00 pm</td>
                <td>Cena</td> 
              </tr>
              <tr>
                <td>5:00 pm</td>
                <td>Presentaciones Finales</td> 
              </tr>
              <tr>
                <td>7:30 pm</td>
                <td>Evaluación y Premiación</td> 
              </tr>
              <tr>
                <td>8:30 pm</td>
                <td>Cierre del Evento</td> 
              </tr>
              <tr>
                <td>9:00 pm</td>
                <td>After Party</td> 
              </tr>
            </table>
          </div>
        </div><!-- /row --> 
      </div><!-- container -->
    </div> <!-- /programa -->

    <div id="sponsors">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="text-center">Patrocinadores</h1>


            <h2>Diamante</h2>

            <ul class="gold">
              <li>
                <a href="mailto:santodomingo@startupweekend.org?subject=Patrocinador Diamante">
                  ¿Quieres ser patrocinador? ¡Escribenos!
                </a>
              </li>
            </ul>

            <h2>Platino</h2>

            <ul class="gold">
              <li>
                <a href="http://coworking.do" target="_blank">
                  <img src="{% static 'img/sponsors/coworking.png' %}" alt="coworking space" />
                </a>
              </li>
            </ul>

            <h2>Oro</h2>
            <ul class="gold">
              <li>
                <a href="mailto:santodomingo@startupweekend.org?subject=Patrocinador Gold">
                  ¿Quieres ser patrocinador? ¡Escribenos!
                </a>
              </li>
            </ul>

            <h2>Plata</h2>
            <ul class="silver">
              <li>
                <a href="mailto:santodomingo@startupweekend.org?subject=Patrocinador Silver">
                  ¿Quieres ser patrocinador? ¡Escribenos!
                </a>
              </li>
            </ul>

            <h2>Bronce</h2>
            <ul class="bronze">
              <li>
                <a href="mailto:santodomingo@startupweekend.org?subject=Patrocinador Bronce">
                  ¿Quieres ser patrocinador? ¡Escribenos!
                </a>
              </li>
            </ul>

            <h2>Media Partner</h2>
            <ul class="gold">
              <li>
                <a href="mailto:santodomingo@startupweekend.org?subject=Media Partner">
                  ¿Quieres ser nuestro media partner oficial? ¡Escribenos!
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="facilitator">
      <div class="container text-center">
        <h1>Facilitadora</h1>
          <div class="row">
            <div class="collaborator col-sm-4 text-center">
              <img src="{% static 'img/facilitators/lucia.jpg' %}" class="img-circle">
              <h4>Lucía Tróchez Ardila</h4>
            </div>
            <div class="col-sm-8">
              <p>Ingeniera en multimedia, emprendedora, y apasionada por la tecnología, el diseño, la ilustración y la generación de comunidades. Especialista de Marketing Digital para UP Global en Latinoamérica.</p>
            </div>
          </div><!-- /row -->
        </div><!-- /container -->
      </div><!-- /collaborators -->

    <div id="coaches">
      <div class="container text-center">
        <h1>Coaches</h1>
          <div class="row">
            <div class="collaborator col-sm-4 text-center">
              <img src="{% static 'img/organizers/avatar.png' %}" class="img-circle">
              <h4>Tu?</h4>
            </div>

            <div class="col-sm-8">
                <a href="https://docs.google.com/forms/d/1s0caYiBqJTFRb2xDi1IY-VFgWd7zon9wmP4Z_Q3_nyI/viewform?usp=send_form">Te gustaria ser coach? llena este formulario y te contactaremos</a>
            </div>

          </div>
        </div>
      </div>

      <!--
      <div id="judges">
        <div class="container text-center">         
          <h1>Jueces</h1>
              <div class="row">
              <div class="collaborator col-sm-4 text-center">
                <img src="{% static 'img/judges/lozada.jpg' %}" class="img-circle">
                <h4>Juan Luis Lozada</h4>
              </div>
              <div class="col-sm-8">
                <p>Juan Luis Lozada es el actual Director Regional de Educación de Microsoft que incluye República Dominicana, Guatemala, El Salvador, Honduras y Nicaragua, posición que ocupa desde que entró a la compañía en noviembre de 2011. También es miembro fundador de la Asociación Global Shapers Community, en República Dominicana, seleccionado por el Foro Económico Mundial. Juan Luis ha dirigido y fundado proyectos como TECDO (2008), CLUSTERSOFT (2010) y el Programa Nacioanal de Becas De Software con el CEI-RD y MESCyT (2011) y la Red Dominicana de Docentes Innovadores REDI (2014).</p>
              </div>
            </div><!-- /row -->
          <!-- </div><!-- /container -->
      <!-- </div><!-- /collaborators -->

  <div id="organisers">
    <div class="container text-center">
        <div class="row">
          <div class="col-sm-12">
            <h1>Organizadores</h1>

            <p>Startup Weekend Santo Domingo llega a ti por la labor de las siguientes personas</p>

            <div class="organiser">
              <img src="{% static 'img/organizers/jorge.jpg' %}" class="img-circle">
              <h4>Jorge Vargas</h4>
            </div>

            <div class="organiser">
              <img src="{% static 'img/organizers/luz.jpg' %}" class="img-circle">
              <h4>Luz Gonzalez</h4>
            </div>

            <div class="organiser">
              <img src="{% static 'img/organizers/michelle.jpg' %}" class="img-circle">
              <h4>Michelle Guzman Olivo</h4>
            </div>

            <div class="organiser">
              <img src="{% static 'img/organizers/avatar.png' %}" class="img-circle">
              <h4>Armando Manzueta</h4>
            </div>

            <div class="organiser">
              <img src="{% static 'img/organizers/patricia.jpg' %}" class="img-circle">
              <h4>Patricia Acosta</h4>
            </div>
            
            <div class="organiser">
              <img src="{% static 'img/organizers/avatar.png' %}" class="img-circle">
              <h4>Joan Guerrero</h4>
            </div>

            <div class="organiser">
              <img src="{% static 'img/organizers/avatar.png' %}" class="img-circle">
              <h4>Ana Abreu</h4>
            </div>

            <div class="organiser">
              <img src="{% static 'img/organizers/avatar.png' %}" class="img-circle">
              <h4>Karen Soto</h4>
            </div>

          </div><!-- col -->
        </div><!-- /row -->

        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <h1>Colaboradores</h1>

            <div class="organiser">
              <img src="{% static 'img/organizers/avatar.png' %}" class="img-circle">
              <h4>Joey Morel</h4>
            </div>

            <div class="organiser">
              <img src="{% static 'img/organizers/avatar.png' %}" class="img-circle">
              <h4>Michelle Luna</h4>
            </div>

            <div class="organiser">
              <img src="{% static 'img/organizers/avatar.png' %}" class="img-circle">
              <h4>Hamlet Reynoso</h4>
            </div>

            <div class="organiser">
              <img src="{% static 'img/organizers/avatar.png' %}" class="img-circle">
              <h4>René Olivo</h4>
            </div>

            <div class="organiser">
              <img src="{% static 'img/organizers/avatar.png' %}" class="img-circle">
              <h4>Wilson Paulino</h4>
            </div>

            <div class="organiser">
              <img src="{% static 'img/organizers/avatar.png' %}" class="img-circle">
              <h4>Onil Pereyra</h4>
            </div>

            <div class="organiser">
              <img src="{% static 'img/organizers/avatar.png' %}" class="img-circle">
              <h4>Micael Lopez</h4>
            </div>

            <div class="organiser">
              <img src="{% static 'img/organizers/avatar.png' %}" class="img-circle">
              <h4>Emily Lorenzo</h4>
            </div>
          </div><!-- row -->
        </div><!-- col -->
      </div><!-- /container -->
    </div><!-- /organisers -->

    <!--
    <div class="footer">
      <div class="container">
        <div class="col-sm-4 col-sm-offset-4 text-center">
          <h1>Síguenos</h1>
          <a href="https://www.facebook.com/swsantodomingo"><i class="fa fa-facebook-square fa-4x fa-inverse social-icon"></i></a>
          <a href="https://twitter.com/swsantodomingo"><i class="fa fa-twitter-square fa-4x fa-inverse social-icon"></i></a>
          <a href="mailto:swsantodomingo@gmail.com"><i class="fa fa-envelope-square fa-4x fa-inverse social-icon"></i></a>
        </div>
      </div>
    </div>
    -->

    <div class="credits">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
          </div>
        </div>
      </div>
    </div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/app.js' %}"></script>
    


    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
